# Mill build tool
out/
mill
mill.*

# SpinalHDL / Verilator Simulation
simWorkspace/
*.v
*.vcd
*.bin
unnamed.*

# IDEs & Metals
.bsp/
.bloop/
.metals/
.idea/
*.iml
.vscode/

# Python
.venv/
__pycache__/
sim_build/
true_math_errors.log
